# backend/.env
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/edu_file_repo

YANDEX_ACCESS_KEY_ID=YCOxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
YANDEX_SECRET_ACCESS_KEY=YCAJxxxxxxxxxxxxxxxxxxxxx
YANDEX_BUCKET_NAME=your-bucket-name
YANDEX_ENDPOINT=https://storage.yandexcloud.net

YANDEX_GPT_FOLDER_ID=XXXXXXXXXXXXXXXXXXXXXXXX
YANDEX_GPT_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXX
# Для JWT
SECRET_KEY=iсгенерируйте-случайную-строку-не-менее-32-символов
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440   # 24 часа

# Для отправки email (Yandex Mail)
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_USER=email_user@yandex.ru
EMAIL_PASSWORD=password